services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    ports:
      - 9870:9870
      - 9000:9000
    volumes:
      - ./resources:/opt/resources
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    ports:
      - 9864:9864

  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: resourcemanager
    environment:
      SERVICE_PRECONDITION: "namenode:9000"

  nodemanager:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager
    environment:
      SERVICE_PRECONDITION: "resourcemanager:8088"

  spark-master:
    image: bitnami/spark:3.5.2
    container_name: spark-master
    ports:
      - 8080:8080
      - 7077:7077
    volumes:
      - ./resources:/opt/resources

  spark-worker-1:
    image: bitnami/spark:3.5.2
    container_name: spark-worker-1
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    ports:
      - 8081:8081
